{% comment %}
    Reusable pagination component
    
    Usage:
    {% include "docvault/includes/pagination.html" with page_obj=page_obj query_params=query_params %}
    
    Parameters:
    - page_obj: The Django Page object from the paginator
    - query_params: Optional string of query parameters to append to the URL (e.g., "q=search+term")
{% endcomment %}

{% if page_obj.paginator.num_pages > 1 %}
<div class="pagination mt-4 d-flex justify-content-center">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?{% if query_params %}{{ query_params }}&{% endif %}page=1">&laquo; First</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?{% if query_params %}{{ query_params }}&{% endif %}page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">&laquo; First</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link">Previous</span>
            </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <li class="page-item active">
                    <span class="page-link">{{ num }}</span>
                </li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <li class="page-item">
                    <a class="page-link" href="?{% if query_params %}{{ query_params }}&{% endif %}page={{ num }}">{{ num }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?{% if query_params %}{{ query_params }}&{% endif %}page={{ page_obj.next_page_number }}">Next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?{% if query_params %}{{ query_params }}&{% endif %}page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">Next</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link">Last &raquo;</span>
            </li>
        {% endif %}
    </ul>
</div>
{% endif %}