include LICENSE
include README.md
include INSTALL.md
include pyproject.toml
recursive-include docvault/static *
recursive-include docvault/templates *
recursive-include docvault/migrations *
global-exclude *.py[cod] __pycache__ *.so .*.swp .DS_Store
